<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
	    	<Console name="ConsoleLog" target="SYSTEM_OUT">
	    		<PatternLayout pattern="%-6level %msg%n"/>
	    	</Console>
	</Appenders>
	<Loggers>
    		<Root level="ERROR">
    			<AppenderRef ref="ConsoleLog"/>
    		</Root>
    </Loggers>
</Configuration>
