<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<CustomLevels>
		<CustomLevel name="CONFIG" intLevel="350"/>
		<CustomLevel name="PROPS" intLevel="350"/>
	</CustomLevels>
    <Appenders>
	    	<Console name="ConsoleLog" target="SYSTEM_OUT">
	    		<PatternLayout pattern="%-6level %msg%n"/>
	    	</Console>
		<File name="FileLog" fileName="/tmp/deepsea.log" append="false">
			<PatternLayout pattern="%highlight{%d{HH:mm:ss.SSS} [%-8.8t] %-6level - %msg%n}{CONFIG=magenta,PROPS=magenta,TRACE=black,DEBUG=blue,INFO=blue,WARN=black,ERROR=red,FATAL=red}"/>
		</File>
	</Appenders>
	<Loggers>
		<Logger name="za.ac.sun.cs.deepsea.DEEPSEA" level="TRACE" additivity="false">
			<AppenderRef ref="FileLog"/>
			<AppenderRef ref="ConsoleLog" level="INFO"/>
    		</Logger>
    		<Root level="ERROR">
    			<AppenderRef ref="ConsoleLog"/>
			<AppenderRef ref="FileLog"/>
    		</Root>
    </Loggers>
</Configuration>
