@font-face {
    font-family: 'texgyre';
    src: url('texgyrecursor-regular-webfont.eot'),
         url('texgyrecursor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyrecursor-regular-webfont.woff2') format('woff2'),
         url('texgyrecursor-regular-webfont.woff') format('woff'),
         url('texgyrecursor-regular-webfont.ttf') format('truetype'),
         url('texgyrecursor-regular-webfont.svg#tex_gyre_cursorregular') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'texgyre';
    src: url('texgyrecursor-bold-webfont.eot'),
         url('texgyrecursor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyrecursor-bold-webfont.woff2') format('woff2'),
         url('texgyrecursor-bold-webfont.woff') format('woff'),
         url('texgyrecursor-bold-webfont.ttf') format('truetype'),
         url('texgyrecursor-bold-webfont.svg#tex_gyre_cursorbold') format('svg');
    font-weight: 400;
    font-style: normal;
}
